* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: black;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: black;
}

#main-menu {
  min-height: inherit;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Creepster";
  gap: 40px;
}

#game-menu {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#game-title {
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1), -1px -1px 2px rgba(255, 255, 255, 1),
    1px -1px 2px rgba(255, 255, 255, 1), -1px 1px 2px rgba(255, 255, 255, 1);
}

#start-btn,
#help-btn {
  font-size: 44px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), -1px -1px 2px rgba(0, 0, 0, 1), 1px -1px 2px rgba(0, 0, 0, 1),
    -1px 1px 2px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  font-family: inherit;
  cursor: pointer;
  transition: all 125ms;
}

#help-btn:disabled {
  cursor: not-allowed;
}

#volume-control,
#sound-control,
#volume-control-mobile {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), -1px -1px 2px rgba(0, 0, 0, 1), 1px -1px 2px rgba(0, 0, 0, 1),
    -1px 1px 2px rgba(0, 0, 0, 1);
}

#volume-control-mobile {
  display: none;
}

#volume-control svg,
#sound-control svg,
#volume-control-mobile svg {
  width: 32px;
  height: 32px;
}

#start-btn:not(:disabled):hover,
#help-btn:not(:disabled):hover,
#volume-control:not(:disabled):hover,
#sound-control:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.6);
}

#start-btn:not(:disabled):active,
#help-btn:not(:disabled):active {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(139, 0, 0, 1);
}

#controls {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  z-index: -1;
}

#help-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Creepster";
  letter-spacing: 0.15em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), -1px -1px 2px rgba(0, 0, 0, 1), 1px -1px 2px rgba(0, 0, 0, 1),
    -1px 1px 2px rgba(0, 0, 0, 1);
}

#help-modal-content {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: whitesmoke;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px 32px 30px 32px;
  height: 210px;
  background: linear-gradient(90deg, rgba(121, 9, 9, 0.1) 0%, rgba(121, 9, 9, 0.16) 50%, rgba(121, 9, 9, 0.1) 100%);
  background-size: 200% 200%;
  animation: bloodyFlow 5s ease-in-out infinite;
}
@keyframes bloodyFlow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: -200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#help-modal-content h2 {
  margin-top: 0;
}

#help-modal-close-btn {
  color: white;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), -1px -1px 2px rgba(0, 0, 0, 1), 1px -1px 2px rgba(0, 0, 0, 1),
    -1px 1px 2px rgba(0, 0, 0, 1);
}

#help-modal-close-btn:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.66);
  animation: spooky-hover 0.5s ease-in-out infinite alternate;
}

@keyframes spooky-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.help-modal-keyboard {
  display: flex;
  height: 100%;
  gap: 32px;
  align-items: center;
}

.help-modal-keyboard-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}

#arrowUp:after {
  position: absolute;
  content: "jump";
  top: -18px;
  font-size: 12px;
  font-weight: bold;
}

#arrowDown:after {
  position: absolute;
  content: "sit / meteor strike";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  bottom: -18px;
}

#arrowLeft:after {
  position: absolute;
  content: "move left";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  top: -16px;
}

#arrowRight:after {
  position: absolute;
  content: "move right";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  top: -16px;
}

#enter:before {
  position: absolute;
  content: "enter";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  bottom: -18px;
}

#enter:after {
  position: absolute;
  content: "rolling";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  right: -67px;
}

#f-key:after {
  position: absolute;
  content: "Fullscreen";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  right: -90px;
}

#d-key:after {
  position: absolute;
  content: "toggle debug";
  font-size: 12px;
  font-weight: bold;
  text-wrap: nowrap;
  right: -104px;
}

.help-modal-keyboard-column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
}

.help-modal-keyboard-key {
  position: relative;
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.help-modal-keyboard-key-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.help-modal-keyboard-key svg {
  width: 20px;
  height: 20px;
}
.help-modal-keyboard-key svg path {
  animation: shimmer 1s ease-in-out infinite alternate;
}

#help-moda-special-keys {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  align-items: baseline;
}

@keyframes shimmer {
  0% {
    fill: rgba(255, 255, 255, 0.66);
  }
  100% {
    fill: rgba(255, 255, 255, 0.99);
  }
}

#rotate-device {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  display: none;
}

@media only screen and (max-width: 480px),
  (max-width: 768px) and (orientation: portrait),
  (max-width: 1024px) and (orientation: portrait) {
  body {
    min-height: 100dvh;
  }

  #game-title {
    font-size: clamp(24px, 15vw, 64px);
  }

  #volume-control {
    display: none;
  }

  #volume-control-mobile {
    display: flex;
  }

  #rotate-device {
    display: block;
  }

  #rotate-device-parent::before {
    content: "Before you start Rotate Device";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    text-align: center;
    line-height: 2;
    width: 250px;
    height: 200px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black;
    font-family: "Creepster";
    letter-spacing: 0.125em;
    z-index: 1;
  }

  #rotate-device-parent::after {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    content: "";
    width: 200px;
    height: 200px;
    background-image: url("./../img/rotate_screen.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
}

@media only screen and (max-width: 480px) and (orientation: landscape),
  (max-width: 768px) and (orientation: landscape),
  (max-width: 1024px) and (orientation: landscape) {
  body {
    min-height: 100dvh;
  }

  #game-title {
    font-size: 58px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #main-menu {
    gap: unset;
  }

  #game-menu {
    margin-top: unset;
    margin-bottom: unset;
  }

  #start-btn,
  #help-btn {
    font-size: 24px;
  }

  #volume-control {
    display: none;
  }

  #volume-control-mobile {
    display: flex;
  }

  #help-moda-special-keys {
    gap: 16px;
  }

  #f-key {
    display: none;
  }

  #rotate-device {
    display: none;
  }
}
