body {
  min-height: 100vh;
  overflow: hidden;
}

#main-menu {
  min-height: inherit;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Creepster";
  gap: 40px;
}

#game-menu {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#game-title {
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 1), -1px -1px 2px rgba(255, 255, 255, 1),
    1px -1px 2px rgba(255, 255, 255, 1), -1px 1px 2px rgba(255, 255, 255, 1);
}

#start-btn,
#help-btn {
  font-size: 44px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), -1px -1px 2px rgba(0, 0, 0, 1), 1px -1px 2px rgba(0, 0, 0, 1),
    -1px 1px 2px rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  color: white;
  font-family: inherit;
  cursor: pointer;
  transition: all 125ms;
}

#help-btn:disabled {
  cursor: not-allowed;
}

#volume-control,
#sound-control,
#volume-control-mobile {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1), -1px -1px 2px rgba(0, 0, 0, 1), 1px -1px 2px rgba(0, 0, 0, 1),
    -1px 1px 2px rgba(0, 0, 0, 1);
}

#volume-control-mobile {
  display: none;
}

#volume-control svg,
#sound-control svg,
#volume-control-mobile svg {
  width: 32px;
  height: 32px;
}

#start-btn:not(:disabled):hover,
#help-btn:not(:disabled):hover,
#volume-control:not(:disabled):hover,
#sound-control:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.6);
}

#start-btn:not(:disabled):active,
#help-btn:not(:disabled):active {
  background: rgba(0, 0, 0, 0.3);
  color: rgba(139, 0, 0, 1);
}

#controls {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  z-index: -1;
}

#help-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#help-modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

#help-modal-content h2 {
  margin-top: 0;
}

#help-modal-close-btn {
  background: none;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#help-modal-close-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 480px),
  (max-width: 768px) and (orientation: portrait),
  (max-width: 1024px) and (orientation: portrait) {
  body {
    min-height: 100dvh;
  }

  #game-title {
    font-size: clamp(24px, 15vw, 64px);
  }

  #volume-control {
    display: none;
  }

  #volume-control-mobile {
    display: flex;
  }
}

@media only screen and (max-width: 480px) and (orientation: landscape),
  (max-width: 768px) and (orientation: landscape),
  (max-width: 1024px) and (orientation: landscape) {
  body {
    min-height: 100dvh;
  }

  #game-title {
    font-size: 58px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #main-menu {
    gap: unset;
  }

  #game-menu {
    margin-top: unset;
    margin-bottom: unset;
  }

  #start-btn,
  #help-btn {
    font-size: 24px;
  }

  #volume-control {
    display: none;
  }

  #volume-control-mobile {
    display: flex;
  }
}
